<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{translations.front_page}}</title>
</head>
<body>
{% include 'header.html' %}
<h2>{{translations.front_page_text_1}}</h2>
<p>{{translations.front_page_text_2}}</p>

{% load extras %}
<br>
<p>{{translations.page_language}}</p>
<form action="{% url 'front_page' %}" id="language_form" method="post">
{% csrf_token %}
<select name="language" id="language" onchange="document.getElementById('language_form').submit()">
    {% for language_option in languages %}
    <option value="{{ language_option.0 }}" {% if language_option.0 == language %}selected{% endif %}>{{ translations|access:language_option.0 }}</option>
    {% endfor %}
</select>
</form>
</body>
</html>