<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <meta charset="UTF-8">
    <title>Wordle</title>
</head>
<body>
{% include 'header.html' %}


<canvas id="wordle_canvas" width="370" height="410"></canvas>


<script type="text/javascript">
const canvas = document.getElementById("wordle_canvas");
const ctx = canvas.getContext("2d");
var elemLeft = canvas.offsetLeft + canvas.clientLeft;
var elemTop = canvas.offsetTop + canvas.clientTop;

var letters = [];
var keyboard = [];
var characters = ["q", "w", "e", "r", "t", "y", "u", "i", "o", "p", "å", "a", "s", "d", "f", "g", "h", "j", "k", "l", "ö", "ä", "z", "x", "c", "v", "b", "n", "m"];
var correct = "{{word}}";
var valid_words = {{words|safe}};

var box_size = 50;
var key_width = 25;
var key_height = 25;
var width_between = 8;
var height_between = 10;

for(var y = 0; y<= 4*box_size; y += box_size){
    for(var x = 0; x <= 4*box_size; x+= box_size){
        letters.push([x, y]);
    }
}

//draw box
for(var x = 0; x < letters.length; x++){
    ctx.rect(letters[x][0], letters[x][1], box_size,box_size);
    ctx.stroke();
}

//first row of keyboard
for(var x = 5; x <= 11*(key_width + width_between); x += key_width + width_between){
    keyboard.push([x, 5*box_size + 10]);
}

//second row of keyboard
for(var x = 5; x <= 11*(key_width + width_between); x += key_width + width_between){
    keyboard.push([x, 5*box_size + 10 + key_height + height_between]);
}

//third row of keyboard
for(var x = 5 + 2*key_width + 2*width_between; x < 7*(key_width + width_between) + 5 + 2*key_width + 2*width_between; x += key_width + width_between){
    keyboard.push([x, 5*box_size + 10 + 2*key_height + 2*height_between]);
}

//draw keyboard
for(var x = 0; x < keyboard.length; x++){
    ctx.rect(keyboard[x][0], keyboard[x][1], key_width,key_height);
    ctx.stroke();
    ctx.font = "20px Arial";
    ctx.fillText(characters[x], keyboard[x][0] + 1, keyboard[x][1] + 15);
}

//draw backspace
bp_x = 5 + 9*key_width + 9*width_between
bp_y = 5*box_size + 10 + 2*key_height + 2*height_between
bp_dx = 2*key_width + width_between
bp_dy = key_height

ctx.rect(bp_x,bp_y, bp_dx,bp_dy);
ctx.stroke();
ctx.moveTo(bp_x+bp_dx*0.1, bp_y + bp_dy/2);
ctx.lineTo(bp_x+bp_dx*0.8, bp_y + bp_dy/2);
ctx.stroke();
ctx.moveTo(bp_x+bp_dx*0.1, bp_y + bp_dy/2);
ctx.lineTo(bp_x+bp_dx*0.4, bp_y);
ctx.stroke();
ctx.moveTo(bp_x+bp_dx*0.1, bp_y + bp_dy/2);
ctx.lineTo(bp_x+bp_dx*0.4, bp_y+bp_dy);
ctx.stroke();

//draw enter
enter_x = 5
enter_y = 5*box_size + 10 + 2*key_height + 2*height_between
enter_dx = 2*key_width + width_between
enter_dy = key_height

ctx.rect(enter_x, enter_y, enter_dx, enter_dy);
ctx.stroke();
ctx.moveTo(enter_x+enter_dx*0.1, enter_y + enter_dy/2);
ctx.lineTo(enter_x+enter_dx*0.8, enter_y + enter_dy/2);
ctx.stroke();
ctx.moveTo(enter_x+enter_dx*0.9, enter_y + enter_dy/2);
ctx.lineTo(enter_x+enter_dx*0.6, enter_y);
ctx.stroke();
ctx.moveTo(enter_x+enter_dx*0.9, enter_y + enter_dy/2);
ctx.lineTo(enter_x+enter_dx*0.6, enter_y+enter_dy);
ctx.stroke();
ctx.moveTo(enter_x+enter_dx*0.1, enter_y + enter_dy/2);
ctx.lineTo(enter_x+enter_dx*0.1, enter_y);
ctx.stroke();


var spot = 0;
var clicks = [];
var next_step = false;
var greens = []
end = false;
function handleClick(event){
    if(end){
        return;
    }

    var x = event.pageX - elemLeft;
    var y = event.pageY - elemTop;
    for(var h = 0; h < keyboard.length; h++){
        //a key was clicked
        if(x >= keyboard[h][0] && x <= keyboard[h][0] + key_width && y >= keyboard[h][1] && y <= keyboard[h][1] + key_height && !next_step){
            character = characters[h];
            ctx.font = box_size-5+"px Arial";
            ctx.fillText(character, letters[spot][0] + 5, letters[spot][1] + 0.75*box_size);
            spot++;
            clicks.push(character);
            if(spot % 5 == 0){
                next_step = true;
            }
            break;
        }
    }
    //backspace was clicked
    if(x >= bp_x && x <= bp_x+bp_dx && y >= bp_y && y <= bp_y+bp_dy && (spot % 5 != 0 || next_step)){
        if(spot % 5 == 0){
            next_step = false;
        }
        spot--;
        clicks.pop();
        ctx.fillStyle = "white";
        ctx.fillRect(letters[spot][0] + 1, letters[spot][1] + 1, box_size - 2, box_size - 2);
        ctx.fillStyle = "black";
    }
    //enter was clicked
    if(x >= enter_x && x <= enter_x + enter_dx && y >= enter_y && y <= enter_y + enter_dy && next_step){
        word = clicks[spot - 5] + clicks[spot - 4] + clicks[spot - 3] + clicks[spot - 2] + clicks[spot - 1];
        correct_copy = correct

        if(! valid_words.includes(word)){
            alert("Tuntematon sana");
        }else{
            for(var h = spot - 5; h<spot; h++){
                if(correct[h%5] == clicks[h]){
                    fillWithColor(clicks[h], "green", letters[h][0], letters[h][1]);
                    colorKeyboardCharacter(clicks[h], "green")
                    greens.push(clicks[h]);
                    correct_copy = correct_copy.replace(clicks[h], "");
                }
            }
            for(var h = spot - 5; h<spot; h++){
                if(correct.indexOf(clicks[h]) == -1){
                    colorKeyboardCharacter(clicks[h], "gray")
                }else if(correct[h%5] != clicks[h]){
                    if(correct_copy.includes(clicks[h])){
                        fillWithColor(clicks[h], "yellow", letters[h][0], letters[h][1]);
                        correct_copy = correct_copy.replace(clicks[h], "");
                    }
                    if(!greens.includes(clicks[h])){
                        colorKeyboardCharacter(clicks[h], "yellow")
                    }
                }
            }

            if(correct == word){
                alert("Oikein!");
                end = true;
            }

            if(spot == 25 && correct != word){
                alert("oikea sana olisi ollut " + correct + ".");
                end = true;
            }

            next_step = false;
        }
    }
}

function colorKeyboardCharacter(character, color){
    for(var h = 0; h < characters.length; h++){
        if(characters[h] == character){
            ctx.fillStyle = color;
            ctx.fillRect(keyboard[h][0], keyboard[h][1], key_width,key_height);
            ctx.stroke();
            ctx.fillStyle = "black";
            ctx.font = "20px Arial";
            ctx.fillText(character, keyboard[h][0] + 1, keyboard[h][1] + 15);
        }
    }
}

function fillWithColor(letter, color, x, y){
    ctx.fillStyle = color;
    ctx.fillRect(x + 1, y + 1, box_size - 2, box_size - 2);
    ctx.fillStyle = "black";
    ctx.font = box_size-5+"px Arial";
    ctx.fillText(letter, x + 5, y + 0.75*box_size);
}
canvas.addEventListener('click', function(elem) { handleClick(elem);}, false);
</script>

</body>
</html>