<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <meta charset="UTF-8">
    <title>Wordle</title>
</head>
<body>
{% include 'header.html' %}


<canvas id="wordle_canvas" width="500" height="500"></canvas>


<script type="text/javascript">
const canvas = document.getElementById("wordle_canvas");
const ctx = canvas.getContext("2d");

for(var x = 0; x <= 200; x += 50){
    for(var y = 0; y <= 200; y+= 50){
        ctx.rect(x,y, 50,50);
        ctx.stroke();
    }


}


</script>

</body>
</html>